@model prjProject.Models.TravelContent

@{
    ViewBag.Title = "景點介紹";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .p {
        text-decoration:none;
    }
</style>

<div class="row">
    <br>
    <div class="col-md-2">
        <center>
            <div class="panel panel-info">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <h2>國家</h2>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var item in Model.country)
                                {
                                    <p class="lead" id="country">
                                        @Html.ActionLink(item.CounName, "Introduction", new { CounId = item.CounId })
                                    </p>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </center>
        </div>
    <div class="col-md-10">
        <br>
        <div style="width:100%; background-image:url(~/images/bg1.jpg);background-size:cover;background-position:center;position:relative;">
            <span id="person" style="position:absolute;color:floralwhite; font-weight:800; font-size:70px; top:64%;left:74%;transform: translate(-64%, -74%); z-index:1000;">@ViewBag.CountryName</span>
            <img src="~/image/taiwan.jpg" style="display:block;max-width:100%; margin:0 auto;">
        </div>
        <hr>
        <br>
        <div class="panel-group" id="accordion">
            @foreach (var item in Model.place)
            {
                <div class="panel panel-success">
                    <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" style="text-decoration: none; "><center>@item.Place</center></a></div>
                    <div class="panel-collapse collapse in">
                        <div class="row">
                            <div class="col-md-7">
                                <p class="lead"> <font color="#8B0000"><b><h3>@item.Place</h3></b></font></p>
                                <font color="#8B1C62">
                                    @item.Content
                                </font>
                            </div>
                            <div class="col-md-5">
                                <img src="~/image/@item.TraImage" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>